@font-face {
  font-family: 'Inversionz';
  src: url('../font/Inversionz.otf');
}

.fontPreload{
  font-family: 'Inversionz';
  position:absolute;
  font-size: 1px;
}

#game canvas{
  margin-left: auto;
  margin-right: auto;
}
