@font-face {
  font-family: 'Inversionz';
  src: url('../font/Inversionz.otf');
}

@font-face {
  font-family: 'Saucer';
  src: url('../font/SaucerBB.ttf');
}

@font-face {
  font-family: 'Future';
  src: url('../font/kenvector_future.ttf');
}

@font-face {
  font-family: 'Future-Thin';
  src: url('../font/kenvector_future_thin.ttf');
}

.fontPreload{
  position:absolute;
  font-size: 1px;
}

body {
  margin: auto;
}